doctype
html
	head
		script(src='//use.typekit.net/apo5paa.js')
		script(src='../scripts/highlight.pack.js')
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
		script.
			hljs.initHighlightingOnLoad();
		script.
			try{Typekit.load();}catch(e){}
		link(rel="stylesheet" href="/main.css")
	body
		header
			div.content
				div.masthead
					a(href="/")
						img(src="../images/tim.jpg", srcset="../images/tim-2x.jpg 2x" alt="").tim
					h1(class="top") Tim Kjær Lange
					p UX Designer @ GoToMeeting
				div#actions
					a(href="../files/timkjaerlange-portfolio.pdf", title="Portfolio")#social-pdf &nbsp;
					a(href="https://dribbble.com/timkl")#social-dribbble &nbsp;
					a(href="https://twitter.com/timkl")#social-twitter &nbsp;
					a(href="https://www.linkedin.com/pub/tim-kj%C3%A6r-lange/21/975/48a")#social-linkedin &nbsp;
				p.subscribe <a href="/feed.xml">Subscribe via RSS</a>
		.hr
		block content
			!= yield

		include ga.html
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="../scripts/custom.js")
