@import "stylesheets/colors";

@r: 1rem;

body{
  font-family: "chaparral-pro", sans-serif;
  background: @color-background;
  color: @color-text;
  margin: 0 auto;
  width: 40 * @r;
}

h1, h2, h3{
  font-size: 2 * @r;
}

h3{
  font-weight: 300;
}

p {
  font-family: "minion-pro",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25 * @r;
  line-height: 2 * @r;
}

a {
  color: @color-link;
  text-decoration: none;

  &:hover {
    opacity: .75;
  }
}

.hr {
  background-color: @color-text;
  opacity: .075;
  height: 1px;
  margin: (3 * @r) 0 (1.5 * @r) 0;
}

.post h2 {
  float: left;
}

.date {
  color: @color-link;
  opacity: .5;
  text-transform: uppercase;
  float: right;
  margin-top: 2 * @r;
  margin-right: @r;
  font-size: @r;
}

.clear {
  clear: both;
}

header {
  text-align: center;
  margin-top: 8vh;
}

header img {
  opacity: .75
}

#footer {
  text-align: center;
}

#footer a {
  display: inline-block;
  width: 57px;
  height: 57px;
  text-decoration: none;
  list-style-type: none;
  margin: 32px 6px 72px 6px;
}

#footer a:hover {
  opacity: .75;
  -webkit-transition: opacity .4s;
}

#footer a#social-dribbble {
  background: url(images/icon-dribbble.svg); 
}

#footer a#social-linkedin {
  background: url(images/icon-linkedin.svg); 
}

#footer a#social-twitter {
  background: url(images/icon-twitter.svg);  
}

@media screen and (max-width:720px) {

  body {
    width: 88%;
    padding: 6%;

    h1, h2, h3, .post h2, .date {
      width: 100%;
        text-align: center;
    }

    .posts h2 {
      margin-bottom: -10px;
    }

    p {
      font-size: 1.125 * @r;
    }
  }
}