@import "stylesheets/colors";
@import "stylesheets/highlight_solarized_dark";

@r: 1rem;

body{
  font-family: "chaparral-pro", sans-serif;
  background: @color-background;
  color: @color-text;
  margin: 0 auto;
  width: 40 * @r;
}

.masthead {
  opacity: 1;
}

h1, h2, h3{
  font-size: 2 * @r;
}

h3{
  font-weight: 300;
  font-size: 1.5 * @r;
  margin-top: 3 * @r;
  margin-bottom: @r;
}

p, li {
  font-family: "minion-pro",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25 * @r;
  line-height: 2 * @r;
}

a {
  color: @color-link;
  text-decoration: none;

  &:hover {
    opacity: .75;
  }
}

.hr {
  background-color: @color-text;
  opacity: .075;
  height: 1px;
  margin: (3 * @r) 0 (1.5 * @r) 0;
}

.tim {
  width: 180px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post h2 {
  float: left;
}

.post img {
  max-width: 80vw;
}

.post:last-of-type .hr {
  opacity: 0;
}

.date {
  color: @color-link;
  opacity: .5;
  text-transform: uppercase;
  float: right;
  margin-top: 2 * @r;
  margin-right: @r;
  font-size: @r;
}

.clear {
  clear: both;
}

header {
  margin-top: 12vh;
  margin-right: @r;
  margin-bottom: 12vh;
}

header a.portfolio {
  font-family: "chaparral-pro", sans-serif;
  font-size: 24px;
  color: @color-background;
  background: @color-link;
  padding: 12px 32px;
  border-radius: 32px;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}


header .content {
  text-align: center;

  h1 {
    margin-top: 2px;
    margin-bottom: @r * .5;
    color: @color-text;
  }

  p {
    margin-top: 0px;

    &.subscribe {
        position: fixed;
        top: 14px;
        right: 18px;

        img {
          margin-left: 2px;
        }
    }
  }

}

#actions {
  position: fixed;
  top: 12px;
  left: 16px;
}

#actions a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  list-style-type: none;
  margin: @r * .33;
  border-radius: 28px;
  background-color: @color-link;
  background-size: 32px;
}

#actions a:hover {
  opacity: .75;
  transition: opacity .4s;
}

#actions #social-pdf {
  background-image: url(images/icon-pdf.svg);
}

#actions #social-dribbble {
  background-image: url(images/icon-dribbble.svg);
}

#actions #social-linkedin {
  background-image: url(images/icon-linkedin.svg);
}

#actions #social-twitter {
  background-image: url(images/icon-twitter.svg);
}

p.footer {
  text-align: center;
  margin-top: 2*@r;
  margin-bottom: 2*@r;
}

.hljs {
  background: @color-code-bg;
  padding: @r;
}

@media screen and (max-width:1000px) {

  .tim {
    display: none;
  }
}

@media screen and (max-width:720px) {

  #actions {
    position: relative;
    top: 0;
    left: 0;
  }

  #actions a {
    width: 64px;
    height: 64px;
    background-size: 64px;
    border-radius: 32px;
  }

  header .content p.subscribe {
    position: relative;
    text-align: center;
    width: 100%;
    right: 0;
    left: 0;
  }

  body {
    width: 88%;
    padding: 6%;

    h1, h2, h3, .post h2, .date {
      width: 100%;
      text-align: center;
    }

    .date {
      margin-top: -@r;
    }

    p, li {
      font-size: 1.125 * @r;
    }

    iframe {
      width: 100%;
      height: 200px;
    }
  }
}
