@import "stylesheets/colors";

@r: 1rem;

body{
  font-family: "chaparral-pro", sans-serif;
  background: @color-background;
  color: @color-text;
  margin: 0 auto;
  width: 40 * @r;
}

h1, h2, h3{
  font-size: 2 * @r;
}

h3{
  font-weight: 300;
}

p {
  font-family: "minion-pro",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25 * @r;
  line-height: 2 * @r;
}

a {
  color: @color-link;
  text-decoration: none;

  &:hover {
    opacity: .75;
  }
}

.hr {
  background-color: @color-text;
  opacity: .075;
  height: 1px;
  margin: (3 * @r) 0 (1.5 * @r) 0;
}

.tim {
  position: fixed;
  top: 12vh;
  right: @r * 5;
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: .5s;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post h2 {
  float: left;
}

.date {
  color: @color-link;
  opacity: .5;
  text-transform: uppercase;
  float: right;
  margin-top: 2 * @r;
  margin-right: @r;
  font-size: @r;
}

.clear {
  clear: both;
}

header {
  margin-top: 12vh;
  margin-right: @r;
  margin-bottom: 12vh;
}

header a.portfolio {
  font-family: "chaparral-pro", sans-serif;
  font-size: 24px;
  color: @color-background;
  background: @color-link;
  padding: 12px 32px;
  border-radius: 32px;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}


header .content {
  text-align: center;

  h1 {
    margin-top: 2px;
    margin-bottom: @r * .5;
    color: @color-text;
  }

  p {
    margin-top: 0px;
  }
  
}

#actions a {
  display: inline-block;
  width: 55px;
  height: 55px;
  text-decoration: none;
  list-style-type: none;
  margin: @r * .33;
}

#actions a:hover {
  opacity: .75;
  transition: opacity .4s;
}

#actions a#social-pdf {
  background: url(images/icon-pdf.svg) no-repeat; 
}

#actions a#social-dribbble {
  background: url(images/icon-dribbble.svg) no-repeat; 
}

#actions a#social-linkedin {
  background: url(images/icon-linkedin.svg) no-repeat; 
}

#actions a#social-twitter {
  background: url(images/icon-twitter.svg) no-repeat;
}

p.footer {
  text-align: center;
  margin-top: 2*@r;
  margin-bottom: 2*@r;
}

@media screen and (max-width:1000px) {
  .tim {
    display: none;
  }
}

@media screen and (max-width:720px) {



  body {
    width: 88%;
    padding: 6%;

    h1, h2, h3, .post h2, .date {
      width: 100%;
        text-align: center;
    }

    .posts h2 {
      margin-bottom: -10px;
    }

    p {
      font-size: 1.125 * @r;
    }
  }
}